<header class="center capitalize"><h1>{{ctrl.header}}</h1></header>

<div layout="column" layout-gt-md="row" layout-wrap>
<section flex="none">
	<menu layout="row" layout-gt-md="column" layout-align="space-around start" layout-wrap type="channels" label="">
		<menuitem ng-repeat="team in ctrl.teams" data-team-id="{{team.id}}">
			<md-button class="menu-btn md-raised" ng-disabled="team.id === ctrl.team.id" ng-click="ctrl.changeTeam(team)">{{team.name}}</md-button>
			<!--
			<a ng-href="#/dashboard/{{channel.id}}">{{channel.name}}</a>
			-->
		</menuitem>
	</menu>
</section>

<section flex layout="column">
	<md-card flex class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header class="md-toolbar-tools"><h1>Tickets SLA/SLO Jeopardy</h1></header>
		</md-toolbar>
		<md-content layout="row" layout-gt-md="column">
			<flex-graph flex graph-name="sl-jeopardyTotal" ng-click="ctrl.showGraph($event,'sl-jeopardyTotal','total tickets SLA/SLO jeopardy')"></flex-graph>
			<flex-graph flex graph-name="sl-jeopardy" ng-click="ctrl.showGraph($event,'sl-jeopardy','tickets SLA/SLO jeopardy')"></flex-graph>
		</md-content>
	</md-card>
	<md-card flex class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header class="md-toolbar-tools"><h2>Tickets SLA/SLO Exceeded</h2></header>
		</md-toolbar>
		<md-content layout="row" layout-gt-md="column">
			<flex-graph flex graph-name="sl-exceededTotal" ng-click="ctrl.showGraph($event,'sl-exceededTotal','total tickets SLA/SLO exceeded')"></flex-graph>
			<flex-graph flex graph-name="sl-exceeded" ng-click="ctrl.showGraph($event,'sl-exceeded','tickets SLA/SLO exceeded')"></flex-graph>
		</md-content>
	</md-card>
</section>

<section flex layout="column">
	<md-card flex class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header class="md-toolbar-tools"><h2>Customer Escalations</h2></header>
		</md-toolbar>
		<md-content layout="row" layout-gt-md="column">
			<flex-graph flex graph-name="escalationsTotal" ng-click="ctrl.showGraph($event,'escalationsTotal','total ticket escalations')"></flex-graph>
			<flex-graph flex graph-name="escalations" ng-click="ctrl.showGraph($event,'escalations','ticket escalations')"></flex-graph>
		</md-content>
	</md-card>
	<md-card flex class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header class="md-toolbar-tools"><h2>Ticket Volume</h2></header>
		</md-toolbar>
		<md-content layout="row" layout-gt-md="column">
			<flex-graph flex graph-name="volumeTotal" ng-click="ctrl.showGraph($event,'volumeTotal','total ticket volume')"></flex-graph>
			<flex-graph flex graph-name="volume" ng-click="ctrl.showGraph($event,'volume','ticket volume')"></flex-graph>
		</md-content>
	</md-card>
</section>

<section flex layout="column">
	<md-card flex class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header class="md-toolbar-tools"><h2>First Touch Resolve</h2></header>
		</md-toolbar>
		<md-content layout="row" layout-gt-md="column">
			<flex-graph flex graph-name="ftrTotal" ng-click="ctrl.showGraph($event,'ftrTotal','first touch resolve total')"></flex-graph>
			<flex-graph flex graph-name="ftr" ng-click="ctrl.showGraph($event,'ftr','first touch resolve')"></flex-graph>
		</md-content>
	</md-card>
</section>

</div>
