<header class="center capitalize"><h1>{{ctrl.header}}</h1></header>

<div layout="column" layout-gt-lg="row" layout-wrap>
<section flex="none">
	<menu layout="row" layout-gt-lg="column" layout-align="space-around start" layout-wrap type="channels" label="">
		<menuitem ng-repeat="team in ctrl.teams" data-team-id="{{team.id}}">
			<md-button class="md-raised" ng-disabled="team.id === ctrl.team.id" ng-click="ctrl.changeTeam(team)">{{team.name}}</md-button>
			<!--
			<a ng-href="#/dashboard/{{channel.id}}">{{channel.name}}</a>
			-->
		</menuitem>
	</menu>
</section>

<section flex layout="column">
	<md-card class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header><h2>header</h2></header>
		</md-toolbar>
		<md-content flex layout="row" layout-gt-lg="column">
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
		</md-content>
	</md-card>
	<md-card class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header><h2>header</h2></header>
		</md-toolbar>
		<md-content flex layout="row" layout-gt-lg="column">
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
		</md-content>
	</md-card>
</section>

<section flex layout="column">
	<md-card class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header><h2>header</h2></header>
		</md-toolbar>
		<md-content flex layout="row" layout-gt-lg="column">
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
		</md-content>
	</md-card>
	<md-card class="graph-column">
		<md-toolbar layout="row" layout-align="start center">
			<header><h2>header</h2></header>
		</md-toolbar>
		<md-content flex layout="row" layout-gt-lg="column">
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
			<div flex>
				<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
			</div>
		</md-content>
	</md-card>
</section>

</div>
