<h1 class="centered capitalized">{{ctrl.header}}</h1>
<section layout="row" layout-align="start start" layout-wrap>
	<menu flex="none" type="channels" label="">
		<menuitem ng-repeat="channel in ctrl.channels" data-channel-id="{{channel.id}}" ng-class="{active: channel.id === ctrl.channel.id}">
			<a ng-href="#/dashboard/{{channel.id}}">{{channel.name}}</a>	
			<!--
			<a ng-click="ctrl.changeChannel(channel)">{{channel.name}}</a>
			-->
		</menuitem>
	</menu>
	<div flex class="graphs">
		<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
	</div>
	<div flex class="graphs">
		<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
	</div>
	<div flex="grow" class="graphs">
		<canvas chart-line chart-legend="true" chart-labels="ctrl.testGraph.labels" chart-data="ctrl.testGraph.data" chart-series="ctrl.testGraph.series"></canvas>
	</div>
</section>
