<md-dialog ng-cloak layout="row" layout-wrap aria-label="{{ctrl.header}}">
	<md-toolbar flex="grow">
		<header class="md-toolbar-tools">
			<h2 class="capitalize">{{ctrl.header}}</h2>
			<span flex></span>
			<md-button class="md-icon-button"
					   ng-click="ctrl.cancel()"
					   aria-label="close dialog">
				<ng-md-icon icon="close"></ng-md-icon>
			</md-button>
		</header>
	</md-toolbar>
	<md-dialog-content flex="grow" layout="row" layout-align="center center" layout-wrap>
		<section class="md-dialog-content" flex="grow">
			<flex-graph graph-type="Line" graph-name="{{ctrl.name}}"></flex-graph>
		</section>
	</md-dialog-content>
	<md-dialog-actions class="md-fix" flex="grow">
		<md-button ng-click="ctrl.cancel()">Done</md-button>
	</md-dialog-actions>
</md-dialog>
