<md-card layout="column" layout-align="center center" layout-margin>
<form class="controls" name="scorecardControl" layout="row" layout-align="center center" ng-submit="ctrl.controls.action()">
	<label for="scorecardName">Find Scorecard:</label>
	<md-autocomplete required class="md-fix"
		md-no-cache="false"
		md-min-length="0"
		md-input-id="scorecardName"
		md-input-name="scorecardName"
		md-selected-item="ctrl.controls.name.selected"
		md-search-text="ctrl.controls.name.text"
		md-items="item in ctrl.controls.name.search(ctrl.controls.name.text)"
		md-item-text="item.display"
		md-floating-label="{{ctrl.controls.name.label}}">
		<md-item-template>
			<span md-highlight-text="ctrl.controls.name.text">{{item.display}}</span>
		</md-item-template>
		<md-not-found>
			No match found.
		</md-not-found>
	</md-autocomplete>
	<md-input-container>
		<label>Timeframe</label>
		<md-select required
				   ng-model="ctrl.controls.time"
				   ng-disabled="!ctrl.controls.name.selected"
				   md-on-open="ctrl.controls.loadTimes()">
			<md-option ng-repeat="time in ctrl.controls.times" value="{{time}}">{{time}}</md-option>
		</md-select>
	</md-input-container>
	<md-button class="md-raised" ng-disabled="scorecardControl.$invalid" ng-click="ctrl.controls.action()">Retrieve</md-button>
</form>
<h1 class="capitalize center">{{ctrl.header}}</h1>
<table class="scorecard" ng-show="ctrl.table">
	<thead>
		<tr>
			<th ng-repeat="header in ctrl.table.headers">{{header}}</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td class="bold" colspan="2">Total</td>
			<td class="percentage">{{ctrl.table.footer.goals.standard}}</td>
			<td ng-repeat="result in ctrl.table.footer.results track by $index" ng-class="{percentage: result, high: result >= ctrl.table.footer.goals.high, low: result <= ctrl.table.footer.goals.low}">{{result}}</td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="row in ctrl.table.rows">
			<td class="bold">{{row.kpi}}</td>
			<td ng-class="{percentage: row.weight}">{{row.weight}}</td>
			<td ng-class="{percentage: row.goals.standard !== '-'}">{{row.goals.standard}}</td>
			<td ng-class="{percentage: result !== '-', high: result >= row.goals.high, low: result <= row.goals.low}" ng-repeat="result in row.results track by $index">{{result}}</td>
		</tr>
	</tbody>
</table>
</md-card>
