<form class="controls" action="#">
	<label for="scorecardName">Scorecard For:</label>
	<input type="text" id="scorecardName" placeholder="{{ctrl.cardType}}" />
	<select ng-model="timeOption" ng-change="ctrl.optUpdate(timeOption)" ng-options="opt for opt in ctrl.timeOptions">
		<option value="" disabled selected hidden>--Select Time--</option>
	</select>
	<input type="button" value="search" />
</form>
<table class="scorecard">
	<thead>
		<tr>
			<th ng-repeat="header in ctrl.table.headers">{{header}}</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td class="bold" colspan="2">Total:</td>
			<td ng-class="{percentage: ctrl.table.footer.goals.standard}">{{ctrl.table.footer.goals.standard}}</td>
			<td ng-repeat="result in ctrl.table.footer.results track by $index">{{result}}</td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="row in ctrl.table.rows">
			<td class="bold">{{row.kpi}}</td>
			<td ng-class="{percentage: row.weight}">{{row.weight}}</td>
			<td ng-class="{percentage: row.goals.standard !== '-'}">{{row.goals.standard}}</td>
			<td ng-class="{percentage: result !== '-', red: result <= row.goals.low, green: result >= row.goals.high}" ng-repeat="result in row.results track by $index">{{result}}</td>
		</tr>
	</tbody>
</table>
