/* universal reset */
* {border:0;box-sizing:border-box;font:inherit;margin:0;padding:0;}
*::before, *::after {box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, main, menu, nav, section {display:block;}
html, body {height:100%;margin:0;padding:0;width:100%;}
/* default fonts */
p {
	font-family: Ubuntu,Arial,sans-serif;
	margin: 1em 0;
}
h1, h2, h3, h4 {
	font-family: Play,sans-serif;
	font-weight: 700;
}
h1 {font-size: 140%;}
h2 {font-size: 125%;}
h3 {font-size: 110%;}
h4 {font-size: 100%;}
.bold {font-weight: 700;}
.centered {text-align: center;}
.capitalized {text-transform: capitalize;}
.percentage::after {content:'%';}
/* special text styling */
.text-stroke-webkit {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-text-stroke: 2px rgba(0,0,0,0.6);
	-webkit-text-fill-color: rgba(255,255,255,1.0);
}
.text-stroke-fallback {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6), -1px -1px 1px rgba(0,0,0,0.6), 1px -1px 1px rgba(0,0,0,0.6), -1px 1px 1px rgba(0,0,0,0.6), 1px 1px 3px rgba(0,0,0,0.2);
}

/* app body */
body {
	background: #FFFFFF;
	color: #000000;
	font: normal normal 400 1em/1.2 Ubuntu,Arial,sans-serif;
	position: absolute;
}

/* primary header navigation */
nav {
	background: rgba(60,70,80,0.95);
	box-shadow: 
		0 2px 7px rgba(0,0,0,0.25),
		inset 0 1px rgba(255,255,255,0.2),
		inset 0 5px 5px rgba(225,225,255,0.25),
		inset 0 10px 10px rgba(200,200,255,0.3),
		inset 0 -5px 10px rgba(0,0,25,0.25);
	color: #DDDDDD;
	cursor: default;
	font-weight: 700;
	left: 0;
	padding: 0 10%;
	position: relative;
	text-shadow: 1px 1px 1px rgba(25,25,25,0.5);
	top: 0;
	width: 100%;
	z-index: 10;
}
nav ul {
	cursor: default;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	position: relative;
	white-space: nowrap;
}
nav a {
	color: inherit;
	cursor: pointer;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}
nav li:hover {
	background: rgb(60,70,80);
	color: #FFFFFF;
}
/* nav sub-menus */
nav li > ul {
	background: rgba(33,33,33,0.90);
	display: none;
	left: 0;
	padding: 0 10%;
	position: fixed;
	width: 100%;
}
nav li li:hover {
	background: rgb(25,25,25);
}
nav li:hover > ul {
	display: block;
}

/** content injection point **/
main {
	margin: 10px 10%;
	z-index: 1;
}

/* menu */
menu[type="channels"] menuitem {
	background: rgba(100,100,100,0.7);
	border: 2px solid #505050;
	border-radius: 15px;
	box-shadow: 
		0 0 2px 2px rgba(100,100,100,0.25),
		inset 0 1px rgba(255,255,255,0.3),
		inset 0 3px 3px rgba(225,225,255,0.3),
		inset 0 6px 6px rgba(200,200,255,0.4),
		inset 0 -4px 8px rgba(0,0,25,0.35);
	display: block;
	left: 0;
	margin: 2px 0;
	overflow: hidden;
	padding: 0 5px 0 20px;
	position: relative;
	text-overflow: ellipsis;
	transition: background, left;
	transition-duration: 500ms;
	white-space: nowrap;
	width: 150px;
}
menu[type="channels"] menuitem:hover {
	left: 0;
	cursor: pointer;
	background: rgba(0,100,200,0.5);
}
/* must come after :hover to prevent hover styles */
menu[type="channels"] menuitem.active {
	left: 0;
	cursor: default;
	background: rgba(0,0,200,0.5);
}
menu[type="channels"] menuitem a {
	color: #FFFFFF;
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
menu[type="channels"] menuitem.active a:hover {
	cursor: default;
}
/* indicator */
menu[type="channels"] menuitem::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #000000;
}
/* set indicator colors */
menu[type="channels"] .green::before {
	background: #00FF00;
}
menu[type="channels"] .yellow::before {
	background: #FFFF00;
}
menu[type="channels"] .red::before {
	background: #FF0000;
}
menu[type="channels"] .warning-red::before {
	background: #990000;
	animation: flash-red 1.5s infinite;
}
menu[type="channels"] .emergency-red::before {
	background: #990000;
	animation: flash-red 0.5s infinite;
}
@keyframes flash-red {
	50% {background-color: #FF0000;}
}

/* angular-chart */
.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
	list-style-type: none;
	margin-top: 5px;
	text-align: center;
	padding-left: 0;
}
.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	margin-bottom: 4px;
	border-radius: 5px;
	padding: 2px 8px 2px 28px;
	font-size: smaller;
	cursor: default;
}
.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 5px;
}
/* graph containers */
.graph-column {
	margin: 3px;
	padding: 2px;
}
.graph-column md-content {
	
}

/** scorecards view **/
/* top form controls */
.controls {
	margin: 10px auto;
	text-align: center;
}
.controls label {
	font-family: Play,sans-serif;
	font-weight: 700;
	font-size: 115%
}
.controls input, .controls select {
	height: 2em;
	padding: 0 10px;
}
/**-/ FIX: Chrome 1px jog /-**/
.controls select {
	position: relative;
	top: 1px;
}
/* autosuggest menu */
autosuggest-input {
	display: inline-block;
	position: relative;
}
.suggestions-list {
	list-style-type: none;
	position: absolute;
	padding: 0;
	width: 100%;
	/* required to clear content */
	z-index: 1;
}
.suggestions-list li {
	background: #F9F9F9;
	border-bottom: 1px solid #EEEEEE;
	color: #000000;
	cursor: pointer;
	padding: 5px 10px;
	text-align: left;
}
.suggestions-list li:hover {
	background: #EEEEEE;
}
.suggestions-list li:active,
.suggestions-list li.active {
	color: #FFFFFF;
	background: #0099FF;
}
.suggestions-list:focus{
	outline:none;
}
/* scorecard table */
.scorecard {
	background: #F5F5F5;
	border-spacing: 0;
	box-shadow: inset 0 1px 0 #FFFFFF;
	margin: 20px auto;
	overflow: hidden;
	resize: both;
	text-align: left;
}
.scorecard thead, .scorecard tfoot {
	background: linear-gradient(#777777, #444444);
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.scorecard tfoot td {
	color: #000000;
	padding: 10px 15px;
	position: relative;
}
.scorecard tfoot td:first-child {
	text-align: right;
	padding-right: 20px;
}
.scorecard th {
	border-top: 1px solid #555555;
	border-right: 1px solid #777777;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #555555;
	box-shadow: inset 0 1px 0 #999999;
	padding: 10px 15px;
	position: relative;
}
.scorecard th:first-child {
	border-left: 1px solid #777777;
	box-shadow: inset 1px 1px 0 #999999;
}
.scorecard th:last-child {
	box-shadow: inset -1px 1px 0 #999999;
}
.scorecard tbody td {
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #E8E8E8;
	border-left: 1px solid #E8E8E8;
	color: #000000;
}
/* covers tbody and tfoot */
.scorecard td {
	height: 70px;
	padding: 10px 15px;
	position: relative;
	text-align: center;
}
.scorecard tbody td:first-child {
	text-align: left;
}
.scorecard tr:nth-child(even) {
	background: #F1F1F1;
}
.scorecard tbody tr:hover {
	background-image: linear-gradient(
		180deg,
		rgba(150,150,150,0.25) 0,
		rgba(150,150,150,0.1) 50%,
		rgba(150,150,150,0.5) 100%
	);
}
.scorecard th:not(:first-child):hover::before,
.scorecard td:not(:first-child):hover::before {
	background-image: linear-gradient(
		90deg,
		rgba(150,150,150,0.25) 0,
		rgba(150,150,150,0.05) 50%,
		rgba(150,150,150,0.25) 100%
	);
	content: '';
	height: 2500px;
	left: 0;
	/* prevent column highlight from blocking content */
	pointer-events: none;
	position: absolute;
	top: -1250px;
	width: 100%;
}
.scorecard .low {
	background: rgba(250,0,0,0.20);
}
.scorecard .high {
	background: rgba(0,250,0,0.15);
}
