<canvas id="flexGraph-{{graphCtrl.name}}"
		class="chart-base"
		chart-type="graphCtrl.type"
		chart-labels="graphCtrl.graph[graphCtrl.name].labels"
		chart-series="graphCtrl.graph[graphCtrl.name].series"
		chart-data="graphCtrl.graph[graphCtrl.name].data"
		chart-click="graphCtrl.onClick"
		chart-legend="true"
		chart-options="graphCtrl.options">
</canvas>
<md-button class="md-fab expand-btn"
		   ng-click="graphCtrl.expand($event)"
		   ng-if="expandable"
		   aria-label="close dialog"
		   ng-init="growShrinkSize=28"
		   ng-mouseover="growShrinkSize=36"
		   ng-mouseout="growShrinkSize=28">
	<ng-md-icon class="md-fix"
				icon="settings_overscan"
				size="{{growShrinkSize}}">
	</ng-md-icon>
</md-button>
